[Unit]
Description=Crust node

[Service]
Type=oneshot
ExecStart=/opt/crust/crust-node/scripts/crust.sh start
ExecStop=/opt/crust/crust-node/scripts/crust.sh stop
ExecReload=/opt/crust/crust-node/scripts/crust.sh reload

[Install]
WantedBy=multi-user.target
