base_path=crust_store/node1/chain            # the base path of chain
port=30333                                   # the port for p2p
ws_port=9944                                 # the port for ws
rpc_port=9933                                # the port for rpc
name=node1                                   # the name of chain
node_key=                                    # only the frist genesis need this:0000000000000000000000000000000000000000000000000000000000000001
bootnodes=/ip4/<ip>/tcp/<port>/p2p/<node-id> # the bootnodes for connect to the exist chain (if you are first node, you don't need this)
external_rpc_ws=false                        # Whether to publicize the ws and rpc interface (if you are genesis node or validator node, this configuration must be false)
