base_path=crust_store/node1/ipfs            # the base path for storing data
swarm_port=4001                             # the swarm port for other ipfs node connection
api_port=5001                               # the api port
gateway_port=8080                           # the gateway port
master_address=                             # if you are frist ipfs node, you don't need this
